*.dll
*.pdb
*.cache
*.xml
*.targets
*.props
*.json
*.nupkg
Inject/.vs/
Inject/Inject/obj/

DependencyInjection/obj/

DependencyInjection\.Core/obj/

Shaykhullin\.DependencyInjection/obj/

Shaykhullin\.DependencyInjection\.Core/obj/
